body,
html {
    padding: 0;
    border: 0;
    height: 100%;
    width: 100%;
}
body {
    background: linear-gradient(150deg, rgba(245, 245, 245, 0) 5%, #282828 100%) no-repeat;
    background-attachment: fixed;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 1.4;
    margin: 0;
}
main {
    width: 100%;
    margin: 0 auto;
}
nav {
    margin-bottom: 30px;
}
h1,h2 {
    text-align: center;
    margin-bottom: 20px;
}
h1 {
    font-size: large;
    font-weight: bold;
}
h2 {
    font-size: medium;
    font-weight: bold;
}
.navbar-nav {
    width: 100%;
}
.navbar-brand {
    padding: 5px;
    background-color: darkgray;
    border-radius: 5px;
    line-height: 35px;
}
.form-group {
    text-align: left;
    margin-bottom: 1rem;
}
.form-group label, .form-group-header {
    font-weight: bold;
    margin-bottom: 0.5rem;
}
input:invalid, textarea:invalid {
    border-color: red;
}
input:valid, textarea:valid {
    border-color: green;
}
svg {
    height: 0;
    width: 0;
}
